/*
ion-header{

  --ion-background-color:#EF9B1D;
  

}
ion-content {

  --background: linear-gradient(to bottom, #EF9B1D , #645b4d);

}

*/
ion-menu-button {
  margin-left: 10px;
}

.filter{
  margin-right: 10px;
}

.notification{
  span{
    background-color: #F5576C;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    position:absolute;
    top: 10%;
    right: 10%;
  }
}  

.search{
  ion-item{
    --border-radius: 10px;
    --box-shadow: 0px 13px 30px 0px rgba(0,0,0,0.09);
    padding: 8px;
    ion-icon{
      margin-right: 16px;

    }
    ion-input{
      padding-left: 10px !important;
      border-left: 1px solid #F4F4F4;
    }
  }
}

.more {
  font-size: 12px;
  color: #FB4E4E;
}

.title{
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3{
    
    color:#434343;
  }
  p{
    margin: 0 16px 0 0;
    color: #656565;
  }
}

.category-slider{
  ion-slide{
    width: 100px;
    height: 90px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;

    ion-col{
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      span{
        color:#ffffff;
        margin: 0;
      }
      img{
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
        top: 0;
        left: 0;
        z-index: -1;
        box-shadow: 0px 15 20px 0px rgba(0,0,0,0.16);
      }

    }
  }
}

.font-bold{
  font-weight: bold;
}

.product-slider{
  ion-slide{
    width: 150px;
    margin-left: 10px;
    margin-right: 10px;

    ion-col{
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }

      p{
        margin-top: 5px;
        margin-bottom: 0;
      }
      h6{
        margin-top: 5px;
        margin-bottom: 0;
      }
    }
  }
}